.container-fluid {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: grey;
}
.bikes {
  background-color: yellow;
  align-self: center;
  font-size: 5rem;
  padding: 55px;
}
.outline {
  border: 5px solid black;
}
